@import "tailwindcss";

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #f3f4f6;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f4f6;
}
